* {
    margin: 0;
    padding: 0;
  }
  body {
      background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  }
  .text {
      font-size: 30px;
      margin-bottom: 15vh;
      font-family: monospace;
    font-weight: 800;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  li > a {
   display: block;
    box-sizing: border-box;
   text-decoration: none;
   height: 50px;
   width: 50vw;
   background-color: whitesmoke;
   margin-bottom: 10px;
   text-align: center;
   line-height: 3.5;
   color: black;
   font-family: monospace;
    font-weight: 800;
  }
  a:hover {
      background-color: transparent;
    color: whitesmoke;
      border: 2px solid whitesmoke;
  }
  .txt {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 15px;
   font-family: monospace;
    font-weight: 800;
  }